<%- include('header'); -%>

<main>
  <section class="info container">
    <div class="row">
      <h2 class="text-center col-12 pb-4 mb-3 mb-md-5">FOOD and SCHEDULE</h2>
    </div>
    <div class="row">

      <div class="col-md-6 pe-md-4">
        <h3>Main Staple</h3>
        <h5>HAY</h5>
        <p>
          The wheeky boys' main dietary staple is hay. Always keep a fresh supply of hay in the pen and they can eat when they need to.
        </p>
        <h3>Breakfast</h3>
        <h5>"Salad"</h5>
        <ul>
          <li>
            Lettuce
          </li>
          <li>
            Carrots
          </li>
          <li>
            Peppers
          </li>
        </ul>
        <p>
          The salad should consist mainly of lettuce, with a vary small amount of other vegetables. About 1/3 cup of salad per wheeker should suffice.
        </p>
        <h5>Pellets</h5>
        <p>
          Each of the boys should get enough pellets to just cover the bottom of their food dishes.
        </p>
        <h3>Treats</h3>
        <p>
          Treats should be given sparingly.
        </p>
        <h5>Barley Biscuits</h5>
        <h5>Cranberry Cookies</h5>
        <h5>Bell Pepper Cookies</h5>
        <h5>Hay Stackers</h5>
        <p>
          They boys get a piece of a hay stacker (about 1/4 - 1/3 cup each) after they have all finished their playpen time. They get very excited about their hay stackers.
        </p>
      </div>

      <div class="col-md-6 d-flex align-items-center flex-column align-items-md-end">
        <figure>
          <img class="img-fluid" src="/images/salad-1.png" alt="wheeky-salad" />
          <figcaption>
            Salad: Hold the dressing!
          </figcaption>
        </figure>

        <figure>
          <img class="img-fluid" src="/images/pellets-1.png" alt="wheeky-pellets" />
          <figcaption>
            Pellets are a part of this balanced breakfast.
          </figcaption>
        </figure>
      </div>

      <h2 class="text-center col-12 py-4 my-3 my-md-5">PLAYPEN TIME!</h2>
      <div class="col-md-6 pe-md-4">
        <h3>Playpen Set-up</h3>
        <p>
          Some call this "floor time," we call it "playpen time." The playpen provides the guinea pigs with a change of scenery and a place to run around and work out excess energy.
        </p>
        <p>
          Spread out a large fleece on the floor, and put up the playpen around it. Place a football-sized pile of hay in the middle for them to snack on. It helps to set up some tunnels and other shelters around for the boys to hide in, as they are natural prey animals and spook easily. Finally, sprinkle a small handfull of lettuce strips and possible chopped pieces of pepper around. (Not too much- a quarter of a single breakfast serving will do.) Put the boys in and watch them rummage around for the veggies and eat a bit of hay before they start playing and chasing each other around.
        </p>
        <h3>Playpen Procedure</h3>
        <p>
          The boys have playpen time every day, if possible. Usually, Bubba and Forrest go into the playpen first, for an hour. After that, Mario joins them. Usually they all play well together, but occasionally Mario will throw his weight around, so it's best if they are supervised. 99% of the time, all goes well, and after an hour of playing all together, the little boys go back to their pen and Mario gets another hour to run around himself.
        </p>
              </div>
      <div class="col-md-6 d-flex align-items-center flex-column align-items-md-end justify-content-md-center">
        <figure>
          <img class="img-fluid" src="/images/playpen.png" alt="boys in the playpen" />
          <figcaption>
            Mario and the "little boys," Forrest and Bubba, in the playpen.
          </figcaption>
        </figure>
      </div>

    </div>
  </section>
</main>

<%- include('footer'); -%>
