<%- include('header'); -%>
<main>
  <section class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <img class="boysWide img-fluid" src="/images/boys-wide2.png" alt="boys munching" />
        </div>
      </div>
    </section>
  </main>


<%- include('footer'); -%>
